/********************************************
*****************ADDING FONTS****************
********************************************/
@font-face {
	font-family: 'ArabicRus';
	src: url('../fonts/ArabicRus/arabicrus_0.eot');
	src: url('../fonts/ArabicRus/arabicrus_0.woff') format('woff'), url('../fonts/ArabicRus/arabicrus_0.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'AVA';
	src: url('../fonts/AVA/AVA.eot');
	src: url('../fonts/AVA/AVA.woff') format('woff'), url('../fonts/AVA/AVA.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'UzSans';
    src: url('../fonts/UzSans/UZSans-Light.eot');
	src: url('../fonts/UzSans/UZSans-Light_1.woff') format('woff'), url('../fonts/UzSans/UZSans-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
    font-family: 'UzSans';
	src: url('../fonts/UzSans/UZSans-Regular.eot');
	src: url('../fonts/UzSans/UZSans-Regular.woff') format('woff'), url('../fonts/UzSans/UZSans-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
    font-family: 'UzSans';
    src: url('../fonts/UzSans/UZSans-Bold.eot');
    src: url('../fonts/UzSans/UZSans-Bold.woff') format('woff'), url('../fonts/UzSans/UZSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/********************************************
*****************PREPARING*******************
********************************************/
:root{
	--base-font: 'UzSans';
	--base-logo-font: 'AVA';
	--add-font: 'ArabicRus';
	--base-color: rgb(255, 255, 255);
	--add-color: #8a8b94;
	--base-background-color: #151728;
	--hover-color-one: rgb(226, 169, 169);
	--hover-color-two: rgb(255, 255, 255);
}
::-webkit-scrollbar{
	width:0.5em;
}
::-webkit-scrollbar-track{
	background-color:var(--base-background-color);
}
::-webkit-scrollbar-thumb{
	background-color: var(--add-color);
	border-radius: 0.2em;
}
*{
	outline:none;
}
ul{
	list-style-type: none;
}
a{
	text-decoration: none;
}
body, div.pageWrapper{
    height:100vh;
}
body{
    font-family: var(--base-font);
    font-weight: 700;
	color: var(--base-color);
	overflow-x: hidden;
	overflow-y:hidden;
}
.miniAvatar{
	display: block;
	width:70px;
	height:70px;
	border-radius: 50%;
	background-image: url(../images/avatar.jpg);
	background-position: center center;
	background-size: cover;
	margin: 0rem 1.2rem 0rem 0rem;
}
.microAvatar{
	display: block;
	width:70px;
	height:70px;
	border-radius: 50%;
	background-image: url(../images/avatar.jpg);
	background-position: center center;
	background-size: cover;
}

button{
	background: none;
	border:none;
}

/********************************************
***************LEFT SIDE*********************
********************************************/
section.leftSide{
    background-color: var(--base-background-color);
	color: var(--add-color);
	z-index:99;
	padding: 0px;
	height:100%;
	overflow-y: auto;
}
.leftSide .leftNav img, .leftSide .leftFooter img{
	margin-right: 0.5em;
}
.leftNav .upSideNav, .leftNav .downSideNav{
	margin-top: 1.5em;
}
section.leftSide a{
	display:block;
	color: var(--add-color);
	cursor: pointer;
	transition-property: color;
	transition-duration: 0.2s;
}
section.leftSide a:hover{
	color: var(--hover-color-two);
	text-decoration: none;
}
section.leftSide header.leftLogo h1{
	padding:25px 0px 15px 0px;
	font-family: var(--base-logo-font);
	text-align: center;
	display: block;
	font-weight: bold;
	font-size: 1em;
	letter-spacing: 5px;
}
section.leftSide header.leftLogo h1 a{
	color:var(--base-color);
}
section.leftSide header.leftLogo h1 a:hover{
	color:var(--hover-color-one);
}
.leftNav h3{
	margin-left: 2rem;
	margin-right: 0.5rem;
	text-transform: uppercase;
	font-size: 1.1em;
}
.leftSide .leftFooter{
	margin:2rem 1rem 0 2rem;
}
/********************************************
***************MIDDLE SIDE*******************
********************************************/
section.middleSide{
	position:relative;
	padding: 0px;
	text-align: center;
	height: 100%;
	color: var(--base-color);
}
section.middleSide a{
	color: var(--add-color);
}
section.middleSide a:hover{
	color: var(--hover-color-two);
}
section.middleSide div.middleWrapper{
	position:fixed;
	top:-5%;
	right:-5%;
	bottom:-5%;
	left:-5%;
	background-image:linear-gradient(to top, #24273b 20%, rgba(99, 99, 117, 0.8)), url(../images/fon.png);
	background-position: center center;
	background-size: cover;
	-webkit-filter: blur(15px);
	-moz-filter: blur(15px);
	-o-filter: blur(15px);
	-ms-filter: blur(15px);
	filter: blur(15px);
}
section.middleSide main{
	height:100%;
	position:relative;
	overflow-x: hidden;
	overflow-y: auto;
}
section.middleSide main nav input{
	height:3em;
	width: 100%;
	color: var(--base-color);
	background-image: url(../images/search.svg);
	background-position:2%;
	background-repeat: no-repeat;
	background-color: var(--base-background-color);
	border-color: var(--base-background-color);
	border-left-color: var(--add-color);
	padding-left: 4em
}
section.middleSide main header.headerOfMiddleSide{
	display:flex;
	flex-direction: column;
	position: relative;
	height: 23em;
	background-image: url(../images/fon.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	margin: calc(0.2rem + 0.9vw);
	margin-bottom: 1.8em;
	border-radius: calc(0.2rem + 0.3vw);
	box-shadow: 0 0 30px 50px rgba(221, 221, 241, 0.08) inset;
}
section.middleSide main header.headerOfMiddleSide p{
	flex:4;
	font-size: 30px;
	font-weight: bolder;
}
section.middleSide main header.headerOfMiddleSide p span{
	display: block;
	position: absolute;
	bottom: 8rem;
	left:17.5rem;
}
section.middleSide main header.headerOfMiddleSide nav{
	flex:1;
	background-color: var(--base-background-color);
	margin:0;
	padding:0 0 0 250px;
	border-bottom-left-radius: calc(0.2rem + 0.3vw);
	border-bottom-right-radius: calc(0.2rem + 0.3vw);
}
header.headerOfMiddleSide nav ul{
	display: flex;
	padding: 0;
	margin: 0;
	width:450px;
	justify-content: space-around;
}
header.headerOfMiddleSide nav ul li{
	text-align: center;
	height:100%;
	width:100%;
}
header.headerOfMiddleSide nav ul li a{
	display: flex;
	align-items: center;
	justify-content: center;
	height:100%;
	width:100%;
	border: 4px solid transparent;
	transition-property: background-color, border-bottom, color;
	transition-duration: 0.4s;
}
header.headerOfMiddleSide nav ul li a:hover{
	background-color: rgba(99, 99, 117, 0.2);
	border-bottom: 4px solid rgb(118, 194, 245);
}
div.avatarFrame{
	position: absolute;
	bottom:3em;
	left:3em;
	height: 200px;
	width: 200px;
	border-radius: 50%;
	border:4px solid var(--base-background-color);
	margin:2px;
	background-color: var(--base-background-color);
	background-image: url(../images/avatar.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.mainPart{
	display: flex;
	flex-wrap: nowrap;
	margin: calc(0.2rem + 0.9vw);
	padding:0;
}
	/*левая часть мейн мидла*/
	.mainPart .leftMainPart{
		margin:0;
		padding:0;
		flex:0 0 28rem;
	}
	.mainPart .leftMainPart .innerLeftBox{
		margin-bottom:1.8em;
		padding:1.5rem 1.5rem;
		border-radius: calc(0.2rem + 0.3vw);
		background-color: var(--base-background-color);
	}
		/* первый левый бокс */
		.mainPart .leftMainPart .first{
			display:flex;
			flex-wrap: wrap;
			justify-content: left;
		}
		.mainPart .leftMainPart .first h3{
			flex:0 0 50px;
			color: var(--add-color);
			font-weight: bold;
		}
		.mainPart .leftMainPart .first button{
			display: flex;
			align-items: center;
			margin-left: auto;
			background-color: transparent;
			border:none;
		}
		.mainPart .leftMainPart .first button img{
			width:40px;
		}
		.mainPart .leftMainPart .first ul{
			flex:0 0 300px;
			padding:0;
			margin:0;
			text-align: left;
		}
		.mainPart .leftMainPart .first ul li{
			display: flex;
			align-items: center;
			padding:0.2rem;
		}
		.mainPart .leftMainPart .first ul li img{
			margin-right: 0.7rem;
		}

		/* второй левый бокс */
		.mainPart .leftMainPart .second{
			padding:0.8rem;
			position: relative;
		}
		.mainPart .leftMainPart .second figure{
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			justify-content: left;
			margin:0;
		}
		.mainPart .leftMainPart .second figure figcaption{
			text-align: left;
			margin-left: 1rem;
			font-size: 1.3rem;
		}
		.mainPart .leftMainPart .second figure figcaption time{
			font-size: 1rem;
			color: var(--add-color);
		}
		.mainPart .leftMainPart .second .currentDay{
			display: flex;
			flex-direction: column;
			position:absolute;
			top:50px;
			left:50px;
			width:100px;
			height:100px;
		}
		.currentDay .month, .currentDay .day{
			display: flex;
			align-items: center;
			justify-content: center;
			padding:0;
			margin:0;
			flex:1;
		}
		.currentDay .day{
			background-color: rgba(186, 207, 221, 0.4);
			font-size: 1.8em;
			backdrop-filter:blur(5px);
		}
		.currentDay .month{
			background-color: rgb(70, 152, 206);
			font-size: 1.5em;
		}
		/* третий левый бокс */
		.mainPart .leftMainPart .third{
			display:flex;
			flex-wrap: wrap;
			justify-content: left;
		}
		.mainPart .leftMainPart .third h3{
			flex:0 0 250px;
			color: var(--add-color);
			text-align: left;
			font-weight: bold;
		}
		.mainPart .leftMainPart .third button{
			display: flex;
			align-items: center;
			margin-left: auto;
			background-color: transparent;
			border:none;
		}
		.mainPart .leftMainPart .third button img{
			width:40px;
		}
		.mainPart .leftMainPart .third ul{
			flex:0 0 300px;
			padding:0;
			margin:0;
			text-align: left;
		}
		.mainPart .leftMainPart .third ul li{
			display: flex;
			align-items: center;
			padding:0.2rem;
			margin-top: 0.6rem;
			font-size: 1.3em;
		}

	/* правая часть мейн мидла */
	.mainPart .rightMainPart{
		margin:0;
		padding:0;
		flex:1 1 10%;
	}
	.mainPart .rightMainPart .innerRightBox{
		margin-left:1.8em;
		margin-bottom:1.8em;
		padding:1.5rem 1.5rem;
		border-radius: calc(0.2rem + 0.3vw);
		background-color: var(--base-background-color);
	}
		/* первый правый бокс */
		/* второй правый бокс */
		.innerRightBox .photos{
			height:100px;
		}
		.innerRightBox .photos .left, .innerRightBox .photos .right{
			height:100%;
		}
		.innerRightBox .photos .left img{
			height:100%;

		}
		.innerRightBox .photos .right img{
			height:50%;
		}
		
		
/********************************************
***************RIGHT SIDE********************
********************************************/
section.rightSide{
	padding: 0px;
    background-color: var(--base-background-color);
	z-index:99;
	height:100%;
	overflow-x: hidden;
	overflow-y: auto;
	color: var(--add-color);
}
section.rightSide a{
	color: var(--base-color);
}
.downSideCrowdNav a.name:after{
	content: '';
	display:inline-block;
	margin-left: 5px;
	width:8px;
	height:8px;
	background-color: rgb(104, 240, 63);
	border-radius: 50%;
}