/********************************************
*****************ADDING FONTS****************
********************************************/

@font-face {
	font-family: 'ArabicRus';
	src: url('../fonts/ArabicRus/arabicrus_0.eot');
	src: url('../fonts/ArabicRus/arabicrus_0.woff') format('woff'), url('../fonts/ArabicRus/arabicrus_0.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AVA';
	src: url('../fonts/AVA/AVA.eot');
	src: url('../fonts/AVA/AVA.woff') format('woff'), url('../fonts/AVA/AVA.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'UzSans';
    src: url('../fonts/UzSans/UZSans-Light.eot');
	src: url('../fonts/UzSans/UZSans-Light_1.woff') format('woff'), url('../fonts/UzSans/UZSans-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
    font-family: 'UzSans';
	src: url('../fonts/UzSans/UZSans-Regular.eot');
	src: url('../fonts/UzSans/UZSans-Regular.woff') format('woff'), url('../fonts/UzSans/UZSans-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
    font-family: 'UzSans';
    src: url('../fonts/UzSans/UZSans-Bold.eot');
    src: url('../fonts/UzSans/UZSans-Bold.woff') format('woff'), url('../fonts/UzSans/UZSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/********************************************
*****************PREPARING*******************
********************************************/
html, body, div.pageWrapper, main{
    height:100%;
}

body{
    font-family: 'UzSans';
    font-weight: 700;
	color:rgb(255, 255, 255);
}

.miniAvatar{
	display: block;
	width:80px;
	height:80px;
	border-radius: 50%;
	background-image: url(../images/avatar.jpg);
	background-position: center center;
	background-size: cover;
}

.microAvatar{
	display: block;
	width:60px;
	height:60px;
	border-radius: 50%;
	background-image: url(../images/avatar.jpg);
	background-position: center center;
	background-size: cover;
}

button{
	background: none;
	border:none;
}

/********************************************
***************LEFT SIDE*********************
********************************************/
section.leftSide{
    background-color: #151728;
	z-index:99;
	padding: 0px;
}

section.leftSide header.leftLogo h1{
	padding:25px 0px 15px 0px;
	font-family: 'AVA';
	text-align: center;
	display: block;
	font-weight: bold;
	font-size: 1em;
	letter-spacing: 5px;
}

section.leftSide header.leftLogo h1 a{
	text-decoration: none;
	color:rgb(255, 255, 255);
}

section.leftSide header.leftLogo h1 a:hover{
	text-decoration: none;
	color:rgb(236, 199, 199);
}


/********************************************
***************MIDDLE SIDE*******************
********************************************/
section.middleSide{
	position:relative;
	padding: 0px;
	text-align: center;
}

section.middleSide div.middleWrapper{
	position:absolute;
	top:-5%;
	right:-5%;
	bottom:-5%;
	left:-5%;
	background-image:linear-gradient(to top, #24273b 20%, rgba(32, 32, 66, 0.8)), url(../images/fon.avif);
	/* background-image: linear-gradient(to top, black, transparent); */
	background-position: center center;
	background-size: cover;
	-webkit-filter: blur(15px);
	-moz-filter: blur(15px);
	-o-filter: blur(15px);
	-ms-filter: blur(15px);
	filter: blur(15px);
}

section.middleSide main{
	position:relative;
}

div.avatarFrame{
	height: 150px;
	width: 150px;
	border-radius: 50%;
	margin:2px;
	background-color: #151728;
	background-image: url(../images/avatar.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

/********************************************
***************RIGHT SIDE********************
********************************************/
section.rightSide{
	padding: 0px;
    background-color: #151728;
	z-index:99;
}

.downSideCrowdNav a.name:after{
	content: '';
	display:inline-block;
	margin-left: 5px;
	width:8px;
	height:8px;
	background-color: rgb(104, 240, 63);
	border-radius: 50%;
}